.bars {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 101;
  padding-top: 9px;
}

.bar {
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
}

.bar span {
  background: var(--green1);
  /* opacity: 50%; */
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.bar span:nth-of-type(1) {
  width: 50%;
}

.bar span:nth-of-type(2) {
  width: 100%;
}

.bar span:nth-of-type(3) {
  width: 75%;
}

.bars.active {
  /* display: none; */
}

.bars.active .bar span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px);
}

.bars.active .bar span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.bars.active .bar span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(30px, -11px) rotatez(45deg);
}

/* Navbar Links CSS */

#nav {
  z-index: -1;
  opacity: 0;
  font-size: 16px;
}

.nav-circle {
  transition: all 1s;
  z-index: -1;
  opacity: 0;
}

.visible {
  z-index: 100 !important;
  opacity: 1 !important;
}

.nav-links {
  animation: rotate 480s infinite;
}

.nav-links {
  position: absolute;
  /* transform: translate(1282px, -1048px); */
}

textPath a {
  font-size: 3rem;
  /* letter-spacing: 7px; */
  fill: rgba(255, 255, 255, 0.53);
  /* opacity: 50%; */
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */

.circle-container {
  position: absolute;
  right: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.circle-content {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  /* transform: translate(657px, -51px); */
  /* transform: translate(57px, 851px); */
  /* opacity: 90%; */
  position: absolute;
  right: -100px;
  top: -100px;
  font-size: 16px;
}

.ring {
  position: absolute;
  border-radius: 50%;
  animation: rotate 80s linear infinite;
  --angle: 0deg;
  /* transform: translateX(50px) ; */
  background: linear-gradient(100deg, #b50808cc, transparent 40%, #1220e2e0);
}
.ring-nav {
  position: absolute;
  border-radius: 50%;
  animation: rotate 80s linear infinite;
  --angle: 0deg;
  background: linear-gradient(100deg, #b50808cc, transparent 40%, #1220e2e0);
}
.ring-nav:before,
.ring-nav:after {
  content: " ";
  position: absolute;
  inset: 2.1px;
  background: black;
  /* background: linear-gradient(#b50808cc, #1220e2e0); */
  border-radius: inherit;
}
.ring-nav:before {
  background: linear-gradient(45deg, transparent 1%, green, pink, red, blue);
  filter: blur(30px);
}
.ring:before,
.ring:after {
  content: " ";
  position: absolute;
  inset: 2.1px;
  background: black;
  /* background: linear-gradient(#b50808cc, #1220e2e0); */
  border-radius: inherit;
}

.ring:before {
  background: linear-gradient(45deg, transparent 1%, green, pink, red, blue);
  filter: blur(30px);
}

.r1 {
  width: 130em;
  height: 130em;
}
.r2 {
  width: 120em;
  height: 120em;
}
.r3 {
  width: 110em;
  height: 110em;
}
.r4 {
  width: 100em;
  height: 100em;
}
.r5 {
  width: 90em;
  height: 90em;
}
.r6 {
  width: 80em;
  height: 80em;
}
.r7 {
  width: 70em;
  height: 70em;
}
.r8 {
  width: 60em;
  height: 60em;
}
.r9 {
  width: 50em;
  height: 50em;
}
@keyframes rotate {
  to {
    transform: rotate(3600deg);
    /* filter: hue-rotate(3600deg); */
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .circle-content {
    font-size: 10px;
  }
  .bars {
    top: 25px;
    right: 25px;
  }
  .bar {
    scale: 0.8;
  }
  textPath a {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .circle-content {
    font-size: 8px;
  }
  .bars {
    top: 0px;
    right: 0px;
  }
  .bar {
    scale: 0.6;
  }
  textPath a {
    font-size: 2rem;
  }
}
